{% load static %}
<!DOCTYPE html>
<HTML>
    <HEAD>
        <title>About Us</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{$ static 'css/Information.css' %}">
    </HEAD>
   <body>
    <div class="backgroundImg">
        <h1 style="font-size: 150px; text-align:center; font-family:sans-serif; color:white">About Us</h1>
    </div>
    <div class="navbarDiv">
        <a id="tab1" href="index.html">Home</a>
        <a id="tab2" href="MarketTrends.html">Market Trends</a>
        <a id="tab3" class="active" href="about_us.html">About FluxCache</a>
        <a id="tab4" href="contact.html">Contact Us</a>
    </div>
   <br><p><h1 style="font-size: 30px; text-align:center; font-family:sans-serif; color:black; 
   padding-top: 50px;"><strong>Our Story</strong></h1></p></br>
<p style="text-align:center;"><img src="{% static 'image/FluxCache FINAL.png' %}" height="150px"/></p>
<br><p><h1 style="font-size: 20px; text-align:center; font-family:sans-serif; color:black">
    After 36 straight hours of work <br>and many power naps on the futon,<br> FluxCache came to life.</h1>
</p></br></br>
<p style="text-align:center;"><img src="{% static 'image/Picture2.jpg' %}" height="300px"/></p>
   </body>
<div class="story">
    <h1>More than half of Americans have less than <br>three months’ worth of emergency savings, <br>according to a survey conducted by <br>personal finance website Bankrate.<br><br><br> In grappling today’s current climate,<br> emergency savings are unnervingly <br>one step away from being depleted.
    
        <br>FLuxCache is the simple and reliable <br>solution to financial security and establishing <br>life stability in our unstable world.
    </br></br></br></br></br></br></br></br></br></br></br></h1>
    </div>
