<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Data Page</title>
    <h1>Data Page!</h1>
</head>
<body>
    <h2>Your username is:</span> {{user}}</h2>


    <div class="container w-50">

        <form action="success/" method="get">
            <form action = "/cgi-bin/hello_get.py" method = "get">
                First Name: <input type = "text" name = "first_name"> <br />
                Last Name: <input type = "text" name = "last_name" /> <br />
                Email: <input type = "text" name = "email" />
                Phone Number: <input type = "text" name = "phone_number" />
                <input type = "submit" value = "Submit" />
            </form>
           
    </div>

</body>