{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>FluxCache</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"> 
    </head>
    <body>
        <div class="backgroundImg">
            <video width="1600px" height="500px" autoplay muted>
                <source src="{% static 'image/FluxCache with sound.mp4' %}" type="video/mp4">
            </video>
        </div>
        <div class="navbarDiv">
            <a id="tab1" class="active" href="Home">Home</a>
            <a id="tab2" href="MarketTrends.html">Market Trends</a>
            <a id="tab3" href="about_us.html">About FluxCache</a>
            <a id="tab4" href="contact.html">Contacts</a>
        </div>
        <div class="exclaim">
            <h1>HOT STOCKS</h1>
        </div>
        <div class="row">
            <div class="column">
                <a href="topStock1.html"><img src="{% static 'image/topStock1.jpg' %}" alt="tesla page" height="220px"/></a>
            </div>
            <div class="column">
                <a href="topStock2.html"><img src="{% static 'image/topStock2.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
            <div class="column">
                <a href="topStock3.html"><img src="{% static 'image/topStock3.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
            <div class="column">
                <a href="topStock4.html"><img src="{% static 'image/topStock4.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
        </div>
        <div class="proclaim">
            <h1>STOCKS DOWN THE GUTTER</h1>
        </div>
        <div class="row">
            <div class="column">
               <a href="bottomStock1.html"><img src="{% static 'image/bottomStock1.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
            <div class="column">
                <a href="bottomStock2.html"><img src="{% static 'image/bottomStock2.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
            <div class="column">
                <a href="bottomStock3.html"><img src="{% static 'image/bottomStock3.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
            <div class="column">
                <a href="bottomStock4.html"><img src="{% static 'image/bottomStock4.jpg' %}" alt="sample image" height="220px"/></a>
            </div>
        </div>
        <div class="footer">
            <div class="insignia">
                <a id="return" href="Home"><img src="{% static 'image/FluxCache FINAL.png' %}" style="width: 100px;height: 100px"/></a>
            </div>
            <div class="address">
                <h1 style="font-family: sans-serif; text-align: left; text-decoration: none; font-size: 16px;">FluxCache</h1>
            </div>
        </div>
    </body>
</html>
