{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Market Trends</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}"/> 
    </head>
    <body>
        <div class="backgroundImg" style='background-image: url("static/image/de_barros.jpg")'>
            <h1 style="font-size: 150px; text-align:center; font-family:sans-serif; color:white">Market Trends</h1>
        </div>
        <div class="navbarDiv">
            <a id="tab1" href="/Home">Home</a>
            <a id="tab2" class="active"href="/trends.html">Market Trends</a>
            <a id="tab3" href="/about_us.html">About FluxCache</a>
            <a id="tab4" href="/contact.html">Contact Us</a>
        </div>
        <table>
            <tr>
                <th>Company</th>
                <th class="col-1">Value ($$$)</th>
                <th>% Change</th>
                <th>P/E Ratio</th>
                <th>Debt-to-Equity</th>
            </tr>
            <tr class="highest_earner">
                <td>Moderna</td>
                <td class="col-1">140.75</td>
                <td>-4.32</td>
                <td>2.3</td>
                <td>0.2</td>
            </tr>
        </table>
        <div class="footer">
            <div class="insignia">
                <a id="return" href="Home"><img src="{% static 'image/FluxCache FINAL.png' %}" style="width: 100px;height: 100px"/></a>
            </div>
            <div class="address">
                <h1 style="font-family: sans-serif; text-align: left; text-decoration: none; font-size: 16px;">FluxCache</h1>
            </div>
        </div>
    </body>
</html>