<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The Data Page</title>
    <h1>Data Page!</h1>
    <h3>Here you can get all data from Django!</h3>
</head>
<body>
    <h2>Your username is:</span> {{user}}</h2>
    <h1>Success!</h1>

    <div class="container w-50">
        <div class="card bg-light text-dark">
            <h5 class="card-header bg-dark text-light">User Info</h5>
            <div class="card-body">
                <div class="card-text"><b>User Email:</b> {{user.email}}</div>
                <div class="card-text"><b>Last Login:</b> {{user.last_login}}</div>
            </div>
        </div>
    </div>
<body>