{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Company Name Stock - FluxCache</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    </head>
    <body>
        <div class="backgroundImg" style = 'background-image: url("/static/image/individual_header.jpg")'>
        </div>
        <div class="clearfix">
            <div class="column logo">
                <img src="{% static 'image/tesla_logo.png' %}" height="100px;"/>
            </div>
            <div class="column content">
                <h2 style="color:rgb(43, 56, 48);"><strong></strong></h2>
                <p style="color: rgb(19, 18, 18)">Sample text</p>
            </div>
        </div>
    </body>
</html>