{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Company Name Stock - FluxCache</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    </head>
    <body>
        <div class="backgroundImg" style = 'background-image: url("/static/image/individual_header.jpg")'>
        </div>
        <div class="navbarDiv">
            <a id="tab1" href="Home">Home</a>
            <a id="tab2" class="active" href="MarketTrends.html">Market Trends</a>
            <a id="tab3" href="about_us.html">About Us</a>
            <a id="tab4" href="contact.html">Contacts</a>
        </div>
        <div class="clearfix">
            <div class="column logo">
                <img src="{% static 'image/tesla_logo.png' %}" height="100px;"/>
            </div>
            <div class="column content">
                <h2 style="color:rgb(43, 56, 48);"><strong>Tesla <br> (TSLA-NASDAQ)</strong></h2>
                <p style="color: rgb(19, 18, 18)">Founded in 2003 by billionaire and current CEO Elon Musk, 
                    Tesla Motors has cornered the market on electric vehicles, with their popular Model S being 
                    bought nearly 150,000 times in the US since 2015. The stock of Tesla has famously been volatile, 
                    often increasing or decreasing its share price by over 5%, though the trend over the past few 
                    years has shown an explosive growth.</p>
            </div>
        </div>
        <div class="graph_intro">
            <h3>TSLA Through the Past Month</h3>
        </div>
        <div class="graph_border"></div>
    </body>
</html>