{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{Company Name} Stock - FluxCache</title>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" type="text/css" href="{% static 'css/template.css' %}"/>
    </head>
    <body>
        <div class="backgroundImg" style = 'background-image: url("/static/image/individual_header.jpg")'>
        </div>
        <div class="navbarDiv">
            <a id="tab1" href="Home">Home</a>
            <a id="tab2" class="active" href="MarketTrends.html">Market Trends</a>
            <a id="tab3" href="about_us.html">About Us</a>
            <a id="tab4" href="contact.html">Contacts</a>
        </div>
        <div class="clearfix">
            <div class="column logo">
                <img src="{% static 'image/tesla_logo.png' %}" height="100px;"/>
            </div>
            <div class="column content">
                <h2 style="color:rgb(43, 56, 48);"><strong>{Company Name Here} <br> ({ABBR HERE}-NASDAQ)</strong></h2>
                <p style="color: rgb(19, 18, 18)">This stock is valued at {VALUE OF STOCK IN $USD}. 
                    It has an experienced a growth of {PERCENTAGE OF GROWTH RATE OVER PAST MONTH}.
                    Today, the stock had an opening of {OPENING VALUE THIS DAY} and ended at {CLOSING VALUE THIS DAY}.</p>
            </div>
        </div>
        <div class="graph_intro">
            <h3>{ABBR HERE} Through the Past Month</h3>
        </div>
        <div class="graph_border">
            <img src="{% static '{PUT IMAGE SOURCE HERE}' %}" height="520px;"/>
        </div>
    </body>
</html>