{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Market Trends</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/trends.css' %}"/> 
    </head>
    <body>
        <div class="backgroundImg" style='background-image: url("static/image/de_barros.jpg")'>
            <h1 style="font-size: 150px; text-align:center; font-family:sans-serif; color:white">Market Trends</h1>
        </div>
        <div class="navbarDiv">
            <a id="tab1" href="/Home">Home</a>
            <a id="tab2" class="active"href="/trends.html">Market Trends</a>
            <a id="tab3" href="/about_us.html">About FluxCache</a>
            <a id="tab4" href="/contact.html">Contact Us</a>
        </div>
        <table>
            <tr>
                <th>Company</th>
                <th>Ticker</th>
                <th>Value ($$$)</th>
                <th>P/E Ratio</th>
                <th>Profit Margin</th>
                <th>Debt-to-Equity</th>
            </tr>
            <tr class="highest_earner">
                <td>Moderna, Inc.</td> }}REPLACE}}
                <th>MRNA</th>
                <td>160.07</td>
                <td>0.5968</td>
                <td>0.38</td>
                <td>5.758</td>
                <td>Penn National Gaming, Inc.</td> }}REPLACE}}
                <th>PENN</th>
                <td>40.92</td>
                <td>0.07218</td>
                <td>0.06</td>
                <td>377.626</td>
                <td>Twitter, Inc.</td> }}REPLACE}}
                <th>TWTR</th>
                <td>34.82</td>
                <td>-0.03771</td>
                <td>2.91</td>
                <td>75.98</td>
                <td>Generac Holdings Inc.</td> }}REPLACE}}
                <th>GNRC</th>
                <td>271.16</td>
                <td>0.15522</td>
                <td>3.71</td>
                <td>56.282</td>
                <td>Paycom Software, Inc.</td> }}REPLACE}}
                <th>PAYC</th>
                <td>310</td>
                <td>0.17311001</td>
                <td>2.8</td>
                <td>12.27</td>
                <td>Church & Dwight Co., Inc.</td> }}REPLACE}}
                <th>CHD</th>
                <td>103.4</td>
                <td>0.16018</td>
                <td>4.41</td>
                <td>56.139</td>
                <td>Vertex Pharmaceuticals Incorporated</td> }}REPLACE}}
                <th>VRTX</th>
                <td>228.08</td>
                <td>0.30523002</td>
                <td>1.71</td>
                <td>9.2</td>
                <td>QUALCOMM Incorporated</td> }}REPLACE}}
                <th>QCOM</th>
                <td>164.93</td>
                <td>0.26941</td>
                <td>0.61</td>
                <td>163.809</td>
                <td>Ford Motor Company</td> }}REPLACE}}
                <th>F</th>
                <td>20.65</td>
                <td>0.021300001</td>
                <td>0.14</td>
                <td>397.431</td>
                <td>Cerner Corporation</td> }}REPLACE}}
                <th>CERN</th>
                <td>91.7</td>
                <td>0.0915</td>
                <td>2.05</td>
                <td>48.47</td>
                <th>{TICKER}</th>
                <td>{PRICE}</td>
                <td>{P_MARG}</td>
                <td>{PEG_RATIO}</td>
                <td>{DTE}</td>
            </tr>
        </table>
        <div class="footer">
            <div class="insignia">
                <a id="return" href="Home"><img src="{% static 'image/FluxCache FINAL.png' %}" style="width: 100px;height: 100px"/></a>
            </div>
            <div class="address">
                <h1 style="font-family: sans-serif; text-align: left; text-decoration: none; font-size: 16px;">FluxCache</h1>
            </div>
        </div>
    </body>
</html>