.backgroundImg {
    background-image: url("de\ barros.jpg");
    background-position: center;
    max-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    padding: 66px;
}

.navbarDiv {
    background-image: linear-gradient(rgb(56, 56, 56),rgb(20, 20, 20));
    overflow: hidden;
}

.navbarDiv a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}

#tab1 {
    margin-left: 37%;
    left: 0%;
    position: relative;
}

#tab4 {
    margin-right: 25%;
}

.navbarDiv a:hover {
    background-color: rgb(107, 216, 121);
    color: black;
}

.navbarDiv a.active {
    background-color:rgb(107, 216, 121);
    color: white;
}


body{
margin: 0;
padding: 0;
text-align: center;
background-color: white;
background-size: cover;
background-position: center;
font-family: sans-serif;

}

.contact-title{
    margin-top: 100px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    transition: all 4s ease-in-out;
}

.contact-title h1{
    font-size: 32px;
    line-height: 10px;
}

.contact-title h2{
    font-size: 16px;
}

form {
    margin-top: 50px;
    transition: all 4s ease-in-out;
}

.form-control {
width: 600px;
background: transparent;
border: none;
outline: none;
border-bottom: 1px solid gray;
color: black;
font-size: 18px;
margin-bottom: 16px;}

}

input{
height: 45px;
}

form .sumbit {
background: #ff5722;
border-color: transparent;
color: #fff;
font-size: 20px;
font-weight: bold;
letter-spacing: 2px;
height: 50px;
margin-top: 20px;
}

form .submit:hover {
background-color: #36f45f;
cursor: pointer;

}

.samuel{
margin-bottom: 250px;

}