.backgroundImg {
    background-image: url("green_background.png");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    color: #2049b8;
    font-size: 32px;
    font: Helvetica;
}

.navbarDiv {
    background-image: linear-gradient(rgb(172, 166, 166),gray);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbarDiv li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px outset rgb(32, 32, 32);
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
    width: 25%;
    margin: 5px;
    align-content: center;
}