.backgroundImg {
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

video {
    min-height: 500px;
    width: 100%;
}

.navbarDiv {
    background-image: linear-gradient(rgb(56, 56, 56),rgb(20, 20, 20));
    overflow: hidden;
}

.navbarDiv a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    font-family: sans-serif;
    font-size: 17px;
    padding: 14px 16px;
    text-decoration: none;
}

#tab1 {
    margin-left: 37%;
    left: 0%;
    position: relative;
}

#tab4 {
    margin-right: 25%;
}

.navbarDiv a:hover {
    background-color: rgb(107, 216, 121);
    color: black;
}

.navbarDiv a.active {
    background-color:rgb(107, 216, 121);
    color: white;
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
    width: 25%;
    margin: 5px;
    align-content: center;
}