.backgroundImg {
    min-height: 500px;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

video {
    min-height: 500px;
    width: 100%;
}

.navbarDiv {
    background-image: linear-gradient(rgb(172, 166, 166),gray);
    text-align: center;
    padding: 0px;
    margin: 0px;
}

.navbarDiv li {
    display: inline-block;
    font-size: 20px;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px outset rgb(32, 32, 32);
}

.navbarDiv li:hover {
    background-color: rgb(107, 216, 121);
}

.row {
    display: flex;
}

.column {
    flex: 25%;
    padding: 5px;
    width: 25%;
    margin: 5px;
    align-content: center;
}