body {
    background-color:lemonchiffon;
}

.header {
    height: 100px;
    text-align: left;
    background-color: rgb(107, 216, 121);
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.insignia {
    width: 20%;
    float: left;
}

.navBar {
    width: 80%;
    display: inline-block;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.column {
    display: block;
    padding: 15px;
}

.logo {
    width: 100px;
    height: 100px;
    background-color: gray;
    text-align: center;
    font-family: Georgia;
}

.content {
    width: 80%;
    font-family: sans-serif;
    font-size: 12px;
}